/* Body *******************/
body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: #ffeceb;
    color: #121111;
    line-height: 1.6;
    padding: 20px;
    text-transform: lowercase; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
}

/* Header ********************/
header {
    text-align: center;
    background-color: #8bff85;
    padding: 20px 0;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px; 
}

header h1 {
    color: #eb4034;
    font-size: 3em;
    margin-bottom: 10px;
    text-transform: uppercase; 
}

header p {
    font-size: 1.2em;
    color: #121111;
    text-transform: lowercase; 
}

/* Anchor buttons ********************/
.anchors {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.anchor-btn {
    padding: 1rem 3rem;
    background-color: #8bff85;
    color: #eb4034;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    transition: all 150ms ease-in-out;
}

.anchor-btn:hover {
    background-color: #eb4034;
    color: #8bff85;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 0 10px 4px #322e3fba;
}

/* Content stuff*************/
main {
    width: 100%;
    max-width: 1200px; 
    margin-top: 20px;
    padding: 0 40px; 
}

/* Section styles ********/
section {
    margin: 40px 0;
}

section h2 {
    font-size: 2em;
    color: #8bff85;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; 
}

section ul {
    list-style: none;
    text-align: center;
}

section ul li {
    font-size: 1.2em;
    margin: 10px;
    text-transform: lowercase; 
}

section#gis blockquote {
    font-style: italic;
    text-align: center;
    color: #eb4034;
    margin-top: 20px;
    text-transform: lowercase; 
}

/* Buttons and links ********************************************/
a {
    text-decoration: none;
    color: #eb4034;
    text-transform: lowercase; 
}

a:hover {
    text-decoration: underline;
}

#contact a {
    display: inline-block;
    margin-top: 10px;
}

.bouncy {
  }

.bouncy:hover {
    animation: bounce 1s;
  }

bouncebutton {
    padding: 1rem 3rem;
    margin-top: 2rem;
    border: none;
    color: rgb(255, 255, 255);
    background: #181a4b;
    cursor: pointer;
    border-radius: 200px;
    transition: all 150ms ease-in-out;
}

bouncebutton:hover {
    background-color: #3d3c61cf;
    color: #ffffff;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 0 10px 4px #322e3fba;
}

/* Footer **************************/
footer {
    margin-top: 40px;
    text-align: center;
}

/* Responsive design ***************************/
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    section h2 {
        font-size: 1.8em;
    }
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
